/* src/index.css */
@import "tailwindcss";

/* Globals */
:root { color-scheme: light; }
html, body, #root { height: 100%; scroll-behavior: smooth;}
body {
  background: #FAF7EC;
  color: #3C3836;
  font-family:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans",
    Ubuntu, Cantarell, "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Firefox */
.submissions-scroll {
  scrollbar-width: thin;
  scrollbar-color: #72716c #FAF7EC; /* thumb color | track color */
}

/* WebKit (Chrome/Edge/Safari) */
.submissions-scroll::-webkit-scrollbar {
  width: 10px;           /* vertical */
  height: 10px;          /* horizontal */
  background: #FAF7EC;   /* track bg */
}

.submissions-scroll::-webkit-scrollbar-thumb {
  background: #72716c;   /* thumb bg */
  border-radius: 8px;
  border: 2px solid #FAF7EC; /* creates a gap around the thumb */
}

.submissions-scroll::-webkit-scrollbar-corner {
  background: #FAF7EC;
}


/* A simple utility you can use in markup */
.container-px { padding-left: 1rem; padding-right: 1rem; }
@media (min-width: 640px) { .container-px { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (min-width: 1024px){ .container-px { padding-left: 2rem;   padding-right: 2rem; } }
